@media (max-width: 4000px) {

  :root {
    --unit: 24px;
    --tile-background: #ffffff;
    --color-one-hs: 0 100%;
    --color-two-hs: 120 50%;
    --color-three-hs: 240 100%;
    --color-pink: hsl(300, 100%, 50%);
    --color-blue: hsl(190, 100%, 40%);
    /* --color-one: hsl(0, 77%, 60%);
    --color-one-light: hsl(0, 77%, 90%);
    --color-two: hsl(135, 79%, 33%);
    --color-two-light: hsl(135, 79%, 90%);
    --color-three: hsl(264, 75%, 66%);
    --color-three: hsl(264, 75%, 66%); */
    --tile-boder-hs: 30 50%;
    --border-one: hsl(45, 79%, 15%);
    --border-two: hsl(45, 79%, 25%);
    --border-three: hsl(45, 79%, 35%);
    --tile-width: calc(var(--unit) * 2);
    --tile-height: calc(var(--unit) * 5);
    --tile-container-height: calc(var(--unit) * 4);
    /* --shape-width: calc(var(--tile-width) * 0.7); */
  }

  html {
    box-sizing: border-box;
    height: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 16px;
    height: 100%;
  }

  #main-container {
    width: 100%;
    height: 100%;
    /*     background: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;

  }

  #board {
    width: calc(var(--tile-width) * 5.5);
    margin: 0 auto;
  }

  #header {
    width: 100%;
    background: lightgray;
    padding: 20px 10px;
  }

  h1 {
    font-family: Orbitron;
    font-size: 2rem;
    color: black;
    /* padding: 6px 6px 6px 20px; */
    /* border-bottom: 1px solid black; */
    text-transform: uppercase;
  }

  h1 span:nth-child(1) {
    border: 2px solid var(--color-one);
    color: var(--color-one);
    padding: 4px;
    border-radius: 4px;
    margin-right: 6px;
  }

  h1 span:nth-child(2) {
    border: 2px solid var(--color-two);
    color: var(--color-two);
    padding: 4px;
    border-radius: 4px;
    margin-right: 6px;
  }

  h1 span:nth-child(3) {
    border: 2px solid var(--color-three);
    color: var(--color-three);
    padding: 4px;
    border-radius: 4px;
    margin-right: 6px;
  }

  .row-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--unit);
    grid-row-gap: 0px;
    /*     background: lightgreen; */
    /*     margin-bottom: 4px; */
    padding: 10px;
  }


  .tile {
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    justify-items:center ;
    align-items: center;
    width: var(--tile-width);
    height: var(--tile-height);
    /* aspect-ratio: 1/2; */
    border: 1px solid var(--border-one);
    border-radius: 8px;
    /* border-image: linear-gradient(blue, red); */
    box-shadow: 3px 3px 0px 0px var(--color-blue), 6px 6px 0px 0px var(--color-pink);
  }
}

[data-state="selected"] {
  background-color: lightpink;
}

svg .color-one {
  fill: hsl(var(--color-one-hs) 50%);
}

svg .color-two {
  fill: hsl(var(--color-two-hs) 50%);
}

svg .color-three {
  fill: hsl(var(--color-three-hs) 50%);
}

svg .white {
  fill: white;
}

/* .tile>.color-one {
  background: var(--color-one);
}

.tile>.color-two {
  background: var(--color-two);
}

.tile>.color-three {
  background: var(--color-three);
} */

/* .tile>.shape-one {
  width: var(--shape-width);
  height: 20px;
}

.tile>.shape-two {
  width: var(--shape-width);
  height: 20px;
  border-radius: 50%;
}

.tile>.shape-three {
  width: 40px;
  height: 20px;
}

